@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background: burlywood; */
}

/*========================================================
        header section navbar 
 =========================================================*/
header::before {
    content: " ";
    width: 100vw;
    height: 101vh;
    position: absolute;
    background: url('/img/bg.jpg') no-repeat center center/cover;
    z-index: -1;
}

nav {
    font-family: 'Baloo Bhai ', cursive;
    font-weight: 300;
}

.navbar .navbar-nav .nav-item a {
    margin: 0 23px;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #8b8892;
}

.btn {
    margin: 7px;
}

/*========================================================
                     text and login responsiv
 =========================================================*/
.demo {
    width: 515px;
    height: 69vh;
    margin-left: 3%;
    top: -4%;
    position: relative;
}

.demo1 {
    width: 661px;
    height: 24vh;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50%;
}

.content {
    text-align: center;
}

.warb {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    position: relative;
    width: 94%;
    height: 80vh;
    flex-wrap: wrap-reverse;
}



/*========================================================
                       Login form
 =========================================================*/

#box {
    position: relative;
    width: 380px;
    height: 420px;
    background: transparent;
    border: 0.5px solid white;
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    font-family: 'poppins', sans-serif;

}

#box form {
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;

}

#box form h2 {
    color: rgb(254, 254, 254);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 20px white;
}

#box form .inputbox {
    position: relative;
    width: 300px;
    margin-top: 32px;

}

#box form .inputbox input {
    position: relative;
    width: 100%;
    padding: 17px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    /* color:#23242a ; */
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    border-bottom: 2px solid white;
}

#box form .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

#box form .inputbox input:valid~span,
#box form .inputbox input:focus~span {

    color: #fff;
    font-size: 0.75em;
    transform: translateY(-24px);

}

#box form .links {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#box form .links a {
    margin: 19px 0;
    font-size: 0.75em;
    color: white;
    text-decoration: none;
}

#box form .links a:hover {
    color: #e9bebe;
}

#btn {
    margin-top: 15px;
    padding: 3px;
    border-radius: 8px;
}

#btn:hover {
    transform: scale(1.1);
}

/*========================================================
                       Sing up form
 =========================================================*/

#btn1 {
    margin-top: 33px;
    padding: 3px;
    border-radius: 8px;
}

#reg {
    position: relative;
    width: 380px;
    height: 420px;
    background: transparent;
    border: 0.5px solid white;
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    font-family: 'poppins', sans-serif;

}

#reg form {
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;

}

#reg form h2 {
    color: rgb(254, 254, 254);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 20px white;
}

#reg form .inputbox {
    position: relative;
    width: 300px;
    margin-top: 32px;

}

#reg form .inputbox input {
    position: relative;
    width: 100%;
    padding: 17px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    /* color:#23242a ; */
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    border-bottom: 2px solid white;
}

#reg form .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

#reg form .inputbox input:valid~span,
#reg form .inputbox input:focus~span {

    color: #fff;
    font-size: 0.75em;
    transform: translateY(-24px);

}

#reg form .links {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#reg form .links a {
    margin: 19px 0;
    font-size: 0.75em;
    color: white;
    text-decoration: none;
}

#reg form .links a:hover {
    color: #e9bebe;
}

#btn:hover {
    transform: scale(1.1);
}